<section id="about-section">
  <div class="container">
    <div class="about-me-photo">
      <figure>
        <svg class="shape-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
        </svg>
        <img class="about-me-img" src="img/tempostorm-logo.png">
      </figure>
      <div class="icons">
        <a href="http://stackoverflow.com/users/3989221/superveetz" target="_blank" class="icon" style="">
          <svg class="icon-svg shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <polygon points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
          </svg>
          <svg class="shape-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
          </svg>
          <i class="fa fa-github"></i>
        </a>

        <a href="skype:superveetz?userinfo" target="_blank" class="icon" style="">
          <svg class="icon-svg shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <polygon points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
          </svg>
          <svg class="shape-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
          </svg>
          <i class="fa fa-skype"></i>
        </a>

        <a href="https://twitter.com/superveetz87" target="_blank" class="icon" style="">
          <svg class="icon-svg shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <polygon points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
          </svg>
          <svg class="shape-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
          </svg>
          <i class="fa fa-twitter"></i>
        </a>

        <a href="https://ca.linkedin.com/in/alex-di-vito-433334121" target="_blank" class="icon" style="">
          <svg class="icon-svg shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <polygon points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
          </svg>
          <svg class="shape-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
          </svg>
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="about-me-intro clearfix">
      <h2 class="portfolio-header" style="font-size: 4.5em;">Hello There,</h2>
      <h3 class="italic-header">
        <i>I'm an up-and-coming Web Ninja with only 1+ years of professional experience, based in Chilliwack BC.</i>
      </h3>
      <p class="lead">
        Developing software isn't just a job for me, it's also my passion. I am constantly improving upon my skill set by researching the latest and greatest technologies which allows me to create fully interactive and responsive web sites and web applications.

        <br>
        <br>

        I am a team player who loves working with agencies and brands to create truly outstanding digital properties.
      </p>
    </div>
    <div class="col-md-5">
      <div class="about-me-skills">
      <span class="big-icon-wrap">
        <svg class="big-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <polygon points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
        </svg>
        <i class="glyphicon glyphicon-wrench"></i>
      </span>
        <h2 class="portfolio-header">&nbsp;Development</h2>

        <h3><strong>Skills:</strong></h3>

        <ul class="list-half">
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Sass</li>
          <li>Bootstrap</li>
          <li>Canvas</li>
          <li>SVG</li>
          <li>Grunt</li>
          <li>Git</li>
          <li>WordPress</li>
          <li>Visual Composer</li>
        </ul>

        <ul class="list-half">
          <li>JavaScript</li>
          <li>AngularJS</li>
          <li>NodeJS</li>
          <li>MongoDB</li>
          <li>Mongoose</li>
          <li>Express</li>
          <li>jQuery</li>
          <li>Ajax</li>
          <li>LoopBack.io</li>
          <li>Socket.io</li>
        </ul>

        <p class="lead pd-t-20">
          I am primarily a front-end developer but I can work with back-end engineers to model data and tie in back-end services on the client.
        </p>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <div class="about-me-skills">
      <span class="big-icon-wrap">
        <svg class="big-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <polygon points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
        </svg>
        <i class="glyphicon glyphicon-pencil"></i>
      </span>
        <h2 class="portfolio-header">&nbsp;Design</h2>

        <h3><strong>Tools:</strong></h3>

        <ul>
          <li>Adobe Photoshop</li>
          <li>Adobe Illustrator</li>
        </ul>

        <h3><strong>Techniques:</strong></h3>

        <ul>
          <li>Mobile First</li>
          <li>Responsive Design</li>
        </ul>
      </div>
    </div>
  </div>
</section>
