<section class="portfolio-item">

  <div class="container">
    <article>
      <h3 class="portfolio-header">Tempostorm</h3>
      <div class="col-md-6 clearfix">
        <p class="italic-header">
          <i>A large-scale AngularJS application served with NodeJS. We used LoopBack.io as our back-end framework in
            conjunction with MongoDB to manage large quantities of data efficiently.</i>
        </p>

        <p class="lead">
          Tempostorm is one of the most well-known organizations in competitive online video gaming scene. They
          sponsor dozens of players across the world to compete internationally in some of the most popular video games. Their website allows content-providers to write new articles
          and guides daily to maintain fresh content for their fans and I helped build the tools to allow them to do
          this.
        </p>

        <p class="lead">
          My main responsibilities included writing the front-end AngularJS code. I assisted in overhauling the site
          to use a new back-end framework by reprogramming all of the database queries to our new API as
          well as improved the UX where possible. Furthermore, I was responsible for modeling data and implementing new features while also extending the functionality of existing features.
        </p>

        <h4 class="technology-header">Dates:</h4>
        <table class="table dates-table">
          <tr>
            <td>Site Released:</td>
            <td>Early 2015</td>
          </tr>
          <tr>
            <td>My Contribution:</td>
            <td>Oct 2015 &#8210; May 2016</td>
          </tr>
        </table>

          <h4 class="technology-header">Technologies:</h4>
          <ul class="technology-list">
            <li>AngularJS</li>
            <li>Bootstrap</li>
            <li>NodeJS</li>
            <li>LoopBack</li>
            <li>MongoDB</li>
          </ul>

        <a class="text-center portfolio-item-link btn btn-primary pull-left" ui-sref="app.portfolio.home">Back</a>
        <a class="text-center portfolio-item-link btn btn-primary pull-right" href="//tempostorm.com"
           target="_blank">Link
        </a>
      </div>
      <div class="col-md-6">
        <figure class="image-collage">
          <img class="large-img" src="img/tempostorm-front-page.jpg" alt="Tempostorm Front Page">
          <img class="medium-img" src="img/tempostorm-deck-builder.jpg" alt="Tempostorm Deck Builder">
          <img class="small-img" src="img/tempostorm-mobile.png" alt="Tempostorm Hearthstone Icon">
        </figure>
      </div>
    </article>
  </div>

</section>
