<section class="portfolio-item">

  <div class="container vertical-center">
    <article>
      <h3 class="portfolio-header">Canvas Squares</h3>
      <div class="col-md-6 clearfix">
        <p class="italic-header">
          <i>I'm a big fan of using Canvases in web pages. They are extremely flexible in the ways that they can be used
            and they add unique effects that can not be achieved by standard web technologies.</i>
        </p>

        <p class="lead">
          This experiment allows a user to place a large number of square particles anywhere on a canvas and set checkpoints for which each square will move towards. By using the A* path finding algorithm, I was able to ensure
          that no collisions or overlaps occur while each square moves around the screen.
        </p>

        <h4 class="technology-header">Technologies:</h4>
        <ul class="technology-list">
          <li>Canvas</li>
          <li>AngularJS</li>
          <li>Bootstrap</li>
        </ul>

        <a class="text-center portfolio-item-link btn btn-primary pull-left" ui-sref="app.portfolio.home">Back</a>
        <a class="text-center portfolio-item-link btn btn-primary pull-right" href="//tempostorm.com"
           target="_blank">Link
        </a>
      </div>
      <div class="col-md-6">
        <figure class="image-collage">
          <img class="large-img" src="img/canvas-squares.png" alt="Canvas Squares">
          <img class="medium-img" src="img/canvas-squares-options.png" alt="Canvas Squares Options">
        </figure>
      </div>
    </article>
  </div>

</section>
