@keyframes rotate-icon {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-icon {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

#contact-section {
  min-height: 100%;
  min-width: 100%;
  background-color: #eafff7;
  padding-top: 8%;
  padding-bottom: 8%;

  .italic-header {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

.location {
  text-align: center;
  margin-bottom: 10%;
  float: left;
  margin-bottom: 0px;

  a {
    font-size: 3.5em;
    margin-bottom: 0px;
    color: #337ab7;
    text-align: center;

    i {
      transition: transform 300ms cubic-bezier(0.48, -1.43, 0.37, 2);
    }

    &:hover {
      text-decoration: none;
      i {
        transform: translateY(-5px);
      }
    }
  }

  h3 {
    margin-top: 0px;
    color: #898989;
  }
}

.contact-icons {
  width: 100%;
  height: 80px;
  text-align: right;
  margin-bottom: 8%;

  .icon {
    width:60px;
    height: 60px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-left: 2%;

    .shape {
      transition: transform 0.8s ease;
      -webkit-transition: transform 0.8s ease;
      -moz-transition: transform 0.8s ease;
      -o-transition: transform 0.8s ease;
    }

    .shape-hover {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    &:hover {
      .shape {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }

      .shape-hover {
        animation: 500ms ripple ease-in;
      }
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      font-size: 2.25em;
      color: white;
    }

    svg {
      height: 60px;
      width: 60px;
      fill: #337ab7;
    }
    svg:first-child {
      stroke: black;
      stroke-width: 1px;
    }
  }
}

#contactForm {
  display: block;
  margin: 0 auto;

  .submit-btn {
    border-radius: 0%;
    border: 1px solid black;
    color: white;
    font-weight: bold;

    i {
      color: white;
    }
  }

  .error-msg {
    color: #970e16;
  }

  .success-msg {
    color: #007300;
  }

  .form-group {
    border: none;
    display: block;
    width: 100%;

    input.form-control.valid,
    textarea.form-control.valid {
      border-color: #00b600;
    }

    input.form-control.invalid,
    textarea.form-control.invalid {
      border-color: #970e16;
    }

    input.form-control,
    textarea.form-control  {
      margin-bottom: 3%;
      display: block;
      padding: 0;
      transition: all 400ms linear;
      -webkit-transition: all 400ms linear;
      -moz-transition: all 400ms linear;
      -o-transition: all 400ms linear;

      font-size: 1.5em;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: black;
      outline: none;
      border-radius: 0px;
      background: transparent;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid darkgrey;
      resize: none;

      &:focus {
        border-bottom: 2px solid black;
      }

      &::-webkit-input-placeholder {
        color: darkgrey;
      }

      &::-moz-placeholder { /* Firefox 18- */
        color: darkgrey;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color: darkgrey;
      }

      &:-ms-input-placeholder {
        color: darkgrey;
      }
    }
  }
}

.glyphicon.glyphicon-refresh {
  display: inline-block;
  animation: rotate-icon 2s infinite linear;
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {

  #about-section {
    padding-top: 20px;

    .about-me-photo {
      float: none;
      width: 100%;
      margin: 0;
    }
  }

  .location {
    float: none;
  }

  .contact-icons {
    text-align: center;
  }

}

/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {

  #contactForm {
    width: 85%;
  }

}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
}

/* DESKTOP ONLY */
@media only screen and (min-width: 1025px) {
}
