<section id="portfolio-section">
  <div class="container">

    <article class="portfolio-article">

      <div class="portfolio-col">
        <a ui-sref="app.portfolio.tempostorm" class="portfolio-link">
          <figure>
            <svg class="shape-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
              <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
            </svg>
            <img src="img/tempostorm-logo.png" class="portfolio-img">
            <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
              <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
            </svg>
          </figure>
        </a>
      </div>

      <div class="portfolio-col">
        <div class="portfolio-content">
          <h2 class="portfolio-header">Tempostorm</h2>
          <p class="lead portfolio-paragraph">A data-driven web application for a popular E-sports organization.</p>
        </div>
      </div>

    </article>

    <article class="portfolio-article">

      <div class="col-md-6 col-md-push-6 portfolio-col">
        <a ui-sref="app.portfolio.canvas-squares" class="portfolio-link">
          <figure>
            <svg class="shape-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
              <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
            </svg>
            <img src="img/pattern-grid.png" class="portfolio-img">
            <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
              <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5"></polygon>
            </svg>
          </figure>
        </a>
      </div>

      <div class="col-md-6 col-md-pull-6 portfolio-col">
        <div class="portfolio-content">
          <h2 class="portfolio-header">Canvas Squares</h2>
          <p class="lead portfolio-paragraph">An experiment with the HTML5 Canvas which explored the A* path finding
            algorithm
            .</p>
        </div>
      </div>

    </article>

  </div>
</section>
