<section id="home-section">
  <canvas id="particle-canvas" particle-canvas></canvas>

  <figure id="big-call-out">
    <div id="cube" ng-class="{'notFirstLoad': !firstLoad }">
      <figure class="front">
        <span class="square square-top-left"></span>
        <span class="square square-top-right"></span>
        <span class="square square-bottom-left"></span>
        <span class="square square-bottom-right"></span>

        <header class="center-content">
          <h1><strong>Alex Di&nbsp;Vito</strong></h1>
          <p>Front-End Developer</p>
          <a class="neat-btn" ui-sref="app.portfolio.home">View Portfolio</a>
        </header>
      </figure>
      <figure class="back">
        <span class="square square-top-left"></span>
        <span class="square square-top-right"></span>
        <span class="square square-bottom-left"></span>
        <span class="square square-bottom-right"></span>
      </figure>
      <figure class="left">
        <span class="square square-top-left"></span>
        <span class="square square-top-right"></span>
        <span class="square square-bottom-left"></span>
        <span class="square square-bottom-right"></span>
      </figure>
      <figure class="right">
        <span class="square square-top-left"></span>
        <span class="square square-top-right"></span>
        <span class="square square-bottom-left"></span>
        <span class="square square-bottom-right"></span>
      </figure>
      <figure class="top">
        <span class="square square-top-left"></span>
        <span class="square square-top-right"></span>
        <span class="square square-bottom-left"></span>
        <span class="square square-bottom-right"></span>
      </figure>
      <figure class="bottom">
        <span class="square square-top-left"></span>
        <span class="square square-top-right"></span>
        <span class="square square-bottom-left"></span>
        <span class="square square-bottom-right"></span>
      </figure>
    </div>
  </figure>
</section>
